<%- include('./includes/head') %>
<%- include('./includes/navBar') %>
   
<section class="container">

      <div class="row align-items-center">
         <div class="col-2"></div>

         <div class="col-8 my-3">
            <h1 class="display-1 text-center fw-semibold">Agenda</h1>
            <p class="text-center lead fw-normal">Seus contatos</p>

            <%- include('./includes/massages') %>


            <% if( contacts.length > 0 ) { %>
            <div class="table-responsive">
               <table class="table table-striped">
                  <thead class="table-dark">
                     <tr>
                       <th scope="col">Nome</th>
                       <th scope="col">Sobrenome</th>
                       <th scope="col">Cel</th>
                       <th scope="col">E-mail</th>
                       <th scope="col">Editar</th>
                       <th scope="col">Excluir</th>
                     </tr>
                   </thead>
                   <tbody class="table-group-divider">
                     <% contacts.forEach(cntts => { %>
                        <tr>
                           <td><%= cntts.nome %></td>
                           <td><%= cntts.sobrenome %></td>
                           <td><%= cntts.celular %></td>
                           <td><%= cntts.email %></td>
                           <td> <a href="/contato/editContact/<%= cntts._id %>">Editar</a> </td>
                           <td> <a class="text-danger" href="/contato/deleteContat/<%= cntts._id %>">Excluir</a> </td>
                         </tr>
    
                     <% });  %>
                   </tbody>
               </table>
            </div>
            <% } else { %>
               <p class="text-center lead">Ainda não existem contatos salvos</p>
            <% }; %>

         </div>
         
      </div>
   </div>

</section>
  
<%- include('./includes/footer') %>

